<form id="braintree_connect" ng-submit="connectPayment()">
    <div class="list">
        <div class="item item-divider">
            Card Information
        </div>
        <label class="item item-input">
            <input type="text" ng-model="paymentData.number" placeholder="Card Number">
        </label>

        <label class="item item-input">
            <input type="text" ng-model="paymentData.expMonth" placeholder="Expiration Month">
        </label>

        <label class="item item-input">
            <input type="text" ng-model="paymentData.expYear" placeholder="Expiration Year">
        </label>

        <label class="item item-input">
            <input type="text" ng-model="paymentData.cvc" placeholder="CVC">
        </label>

        <div>
            <button class="button button-block button-positive" type="submit">Connect</button>
        </div>
    </div>
</form>
