<ion-view view-title="" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="$state.go('maven-signup-step1')">Back</button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">
        <form ng-submit="tryStep2()">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Account Number</span>
                    <input type="text" placeholder="Account Number" ng-model="mavenSignupStep2Data.account">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Routing Number</span>
                    <input type="text" placeholder="Routing Number" ng-model="mavenSignupStep2Data.routing">
                </label>


                <div class="button-bar">
                    <button class="button button-block button-positive" type="submit">Next</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
